{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block body %}

<section class="about">
  <h1>About Us</h1>
  <p>
    We are <strong>The Loop Troops</strong>,a team of five undergraduate students from the Department of Computer Science and Engineering at Daffodil International University, developing InfoDoor, a Student Management System. Our project focuses on efficient and user-friendly management of student and teacher records, including adding, updating, deleting, and viewing detailed information. Through this work, we have applied our skills in programming and system design while enhancing our teamwork and problem-solving abilities.
</section>

<section class="team">
  <h2>Meet Our Troops</h2>

  <div class="team-layout">

    <!-- Top -->
    <div class="team-member top">
      <img src="/static/images/aaa.jpeg">
      <h3>Arpita Mondal</h3>
      <p><b>Backend Developer & Database</b></p>
      <p><b>arpita241-15-855@diu.edu.bd</b></p>
    </div>

    <!-- Left -->
    <div class="team-member left">
      <img src="/static/images/aman.png">
      <h3>Abdullah Al Aman</h3>
      <p><b>Documentation</b></p>
      <p><b>al241-15-200@diu.edu.bd</b></p>
    </div>

    <!-- Center -->
    <div class="team-member center">
      <img src="/static/images/member1.JPG">
      <h3>Md. Abu Rayhan Ahmed</h3>
      <p><b>Backend Developer & Database</b></p>
      <p><b>rayhan241-15-741@diu.edu.bd</b></p>
    </div>

    <!-- Right -->
    <div class="team-member right">
      <img src="/static/images/walid.jpg">
      <h3>Walid</h3>
      <p><b>Tester & Database Idea  </b></p>
      <p><b>walid2405101885@diu.edu
        .bd</b></p>
    </div>

    <!-- Bottom -->
    <div class="team-member bottom">
      <img src="/static/images/5.1.jpeg">
      <h3>Farjana Akter Liza</h3>
      <p><b>Documentation</b></p>
      <p><b>akter241-15-280@diu.edu.bd</b></p>
    </div>

  </div>
</section>

{% endblock body %}